/* NOTE : that the . notation in a grid-template-areas will make an empty cell */
.grid {
  display: grid;
  grid-template: 100px 100px 100px / 200px auto 150px;
  grid-template-areas:
    'r1-c1 r1-c2 r1-c3'
    'r2-c1 r1-c2 r2-c3'
    'r2-c1 r2-c2 r2-c3';
  gap: 5px;
}

.grid div:nth-child(1) {
  grid-area: r1-c1;
}
.grid div:nth-child(2) {
  grid-area: r1-c2;
}
.grid div:nth-child(3) {
  grid-area: r1-c3;
}
.grid div:nth-child(4) {
  grid-area: r2-c1;
}
.grid div:nth-child(5) {
  grid-area: r2-c2;
}
.grid div:nth-child(6) {
  grid-area: r2-c3;
}

/* NOTE : that the . notation in a grid-template-areas will make an empty cell */
.grid-area-2 {
  display: grid;
  grid-template: repeat(4, auto) / repeat(4, auto);
  gap: 5px;
}

.grid-area-2 > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

.grid-area-2 div:nth-child(1) {
  grid-area: 1 / span 4;
}
.grid-area-2 div:nth-child(2) {
  grid-area: 2 / span 2;
}
.grid-area-2 div:nth-child(3) {
  grid-area: 3 / span 2;
}
.grid-area-2 div:nth-child(4) {
  grid-area: 2 / span 2;
}
.grid-area-2 div:nth-child(5) {
  grid-area: 3 / span 2;
}
.grid-area-2 div:nth-child(6) {
  grid-area: 4 / span 4;
}

/* NOTE : this is the third section ............................................... */

.grid-area-3 {
  display: grid;
  grid-template: repeat(4, [row] auto) / repeat(4, [col] auto);
  gap: 5px;
}

.grid-area-3 > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

.grid-area-3 div:nth-child(1) {
  grid-area: row 1 / span 4;
}
.grid-area-3 div:nth-child(2) {
  grid-area: row 2 / span 2;
}
.grid-area-3 div:nth-child(3) {
  grid-area: row 2 / col 3 / auto / span 2;
}
.grid-area-3 div:nth-child(4) {
  grid-area: row 3 / col 1 / auto / span 2;
}
.grid-area-3 div:nth-child(5) {
  grid-area: row 3 / col 3 / auto / span 2;
}
.grid-area-3 div:nth-child(6) {
  grid-area: row 4 / span 4;
}

/* NOTE : this is the fourth section ............................................... */

.grid-area-4 > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

.grid-area-4 {
  height: 350px;
  display: grid;
  grid-template-areas:
    'header header header header'
    'main1 main1 main2 main2'
    'main1 main1 main2 main2'
    'footer footer footer footer';
  grid-template-rows: auto 1fr 1fr auto;
  gap: 5px;
}

.grid-area-4 div:nth-child(1) {
  grid-area: header;
}

.grid-area-4 div:nth-child(2) {
  grid-area: main1;
}

.grid-area-4 div:nth-child(3) {
  grid-area: main2;
}

.grid-area-4 div:nth-child(4) {
  grid-area: footer;
}
