/*
 * Please don't modify this file, use main.css instead.
 * @author Peter Sommerhoff<peter@petersommerhoff.com>
 */

* {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  box-sizing: border-box;
  font-family: Ubuntu, Helvetica, Verdana, Arial, sans-serif;
}

html {
  background: linear-gradient(-10deg, #c62828, #ba68c8);
  min-height: 100vh;
  font-size: 22px;
}

body {
  padding: 50px;
}

code {
  margin: 1px 5px;
  padding: 2px 5px 1px 5px;
  font-family: monospace;
  border-radius: 2px;
  border: 1px dotted #fff;
}

p {
  margin: 25px 10px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.outlined {
  height: 200px;
  border: 1px solid #fff;
  margin-bottom: 50px;
}

/* SECTION 3 : this gris is 2 rows and 3 columns 
    NOTES : auto = span the remaining space 
*/
.grid {
  display: grid;
  grid-template: 100px 200px / 200px auto 150px; /* short-hand way of defining : rows / columns */
  /* grid-row-gap: 10px;
  grid-column-gap: 20px; */
  grid-gap: 10px 20px; /* short-hand way of defining : row-gap column-gap */
}

.grid > * {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

.grid a {
  display: block;
}

.grid > a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  transition: background-color ease 0.5s;
}

/* ____________________________________________________________________________________- */

/* make a 3 x 3 grid - the 4th row will be auto placed by the grid */
.gb-grid-layout {
  margin-top: 10px;
  display: grid;
  grid-template: 300px 300px 300px / 100px auto 200px;
  grid-gap: 1px;
}

/* This just makes each item automatically grid ready */
.gb-grid-item {
  background: #fff;
  color: #000;
  border: 1px solid rgba(000, 0, 0, 0.5);
  display: grid;
  grid-row-gap: 1px;
}

/* This is the auto placed grid row and we are saying to span the width of the 3 rows above it */
.gb-grid-item:nth-child(4) {
  grid-column: auto / span 3;
  height: 100px;
}

.gb-grid-item-row {
  background: #fff;
  color: #000;
}
